<div class="row mt-3" id="doge">
  <div class="col-sm-12 col-md-6 offset-md-3">
    <div class="card">
      <img src=<%= @doge.image %> class="card-img-top" alt="breed">
      <div class="card-body">
        <h5 class="card-title">Breed: <%= @doge.breed.capitalize %></h5>
      </div>
    </div>
  </div>
</div>
